{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('styles/register.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}Registro{% endblock %}

{% block body %}
    <div class="register-container">
        <div class="register-form-wrapper">
            <h1 class="register-h1">Crear Cuenta</h1>
            {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}

            <div class="register-field">
                {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'register-input',
                        'placeholder': 'Correo Electrónico'
                    }
                }) }}
                {% if registrationForm.email.vars.errors|length > 0 %}
        <div class="form-error">
            {{ form_errors(registrationForm.email) }}
        </div>
    {% endif %}
            </div>
            
            <div class="register-field">
                {{ form_widget(registrationForm.plainPassword, {
                    'attr': {
                        'class': 'register-input',
                        'placeholder': 'Contraseña'
                    }
                }) }}
                {% if registrationForm.plainPassword.vars.errors|length > 0 %}
                    <div class="form-error">
                        {{ form_errors(registrationForm.plainPassword) }}
                    </div>
                {% endif %}
            </div>

            <div class="register-checkbox-wrapper">
                {{ form_widget(registrationForm.agreeTerms, {
                    'attr': { 'class': 'register-checkbox' }
                }) }}
                <label class="register-checkbox-label">
                    Acepto los términos y condiciones
                </label>
            </div>

            <button type="submit" class="register-button">Registrarse</button>
            {{ form_end(registrationForm) }}

            <p class="register-login-prompt">¿Ya tienes una cuenta? 
                <a href="{{ path('app_login') }}" class="register-login-link">Inicia sesión</a>
            </p>
        </div>
    </div>
{% endblock %}
