{% extends 'base.html.twig' %}

{% block title %}
  Add Used Machinery
{% endblock %}

{% block stylesheets %}
  <link href="{{ asset('styles/add_machinery.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
  <h1>Nueva Maquinaria Usada</h1>

  {# Mensajes Flash #}
  {% for label, messages in app.session.flashbag.all() %}
    {% for message in messages %}
      <div class="alert alert-{{ label }}">{{ message }}</div>
    {% endfor %}
  {% endfor %}
  <div class="form-group-container">
    {{ form_start(form) }}
    <div class="form-group">{{ form_label(form.category) }}
      {{ form_widget(form.category) }}
      {{ form_errors(form.category) }}</div>

    {{ form_row(form.machineryName) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.yearsOld) }}
    {{ form_row(form.months) }}
    {{ form_row(form.hoursOfUse) }}
    {{ form_row(form.lastService) }}
    {{ form_row(form.price) }}
    {{ form_row(form.imageFilename) }}

    <div class="form-group">
      <button>Agregar</button>
      <a href="{{ path('app_home_page') }}">Volver</a>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
