{% extends 'base.html.twig' %}

{% block stylesheets %}<link href="{{ asset('styles/listaproductos.css') }}" rel="stylesheet">{% endblock %}
{% block title %}Nuestros Productos{% endblock %}

{% block body %}
    <h1 class="productos-titulo">Nuestros Productos</h1>

    <div class="productos-grid">
        {% for product in products %}
            <div class="producto-tarjeta">
                <div class="producto-imagen">
                    {% if product.image %}
                        <img src="data:image/jpeg;base64,{{ product.image }}" alt="{{ product.name }}">
                    {% endif %}
                </div>
                <div class="producto-info">
                    <h2>{{ product.name }}</h2>
                    <p>${{ product.price }}</p>
                </div>
                <div class="producto-acciones">
                    <form action="{{ path('cart_add_product', {productId: product.id}) }}" method="post">
                        <label for="quantity_{{ product.id }}">Cantidad:</label>
                        <input type="number" id="quantity_{{ product.id }}" name="quantity" min="1" max="{{ product.quantity }}" value="1" required>
                        <button type="submit" class="btn">Agregar al carrito</button>
                    </form>

                    <form action="{{ path('create-preference') }}" method="get">
                        <button type="submit" class="btn">Ir al Pago</button>
                    </form>


                    {% if product.id not in favoriteProductIds %}
                        <form action="{{ path('add_favorite', {productId: product.id}) }}" method="post">
                            <button type="submit" class="btn">Agregar a Favoritos</button>
                        </form>
                    {% else %}
                        <button class="btn btn-warning" disabled>En Favoritos</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="imagen-fondo imagen--maquina1"> </div>
        <div class="imagen-fondo imagen--maquina2"> </div>
    </div>
{% endblock %}
