{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
    <h1>Lista de Productos</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Descripción</th>
                <th>Marca</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.brand }}</td>
                    <td>
                        {% if product.image %}
                            <img src="data:image/jpeg;base64,{{ product.image }}" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                        {% endif %}
                    </td>
                    <td>
                        <form action="{{ path('cart_add_product', {productId: product.id}) }}" method="post">
                            <button type="submit">Agregar al carrito</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_product') }}">Agregar nuevo producto</a>
{% endblock %}
