{% extends 'base.html.twig' %}

{% block title %}
  Nuevo Producto
{% endblock %}

{% block body %}
  <h1>Nuevo Producto</h1>

  {{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.quantity) }}
  {{ form_row(form.price) }}
  {{ form_row(form.description) }}
  {{ form_row(form.brand) }}
  {{ form_row(form.image) }}

  <button class="btn">Guardar</button>
  {{ form_end(form) }}
{% endblock %}
